.dark-background{
  background-color: #2B2B2B;
  padding-top: 55%;
}
.row{
  margin:0;
}
#splash {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  background: linear-gradient(to bottom right, #70268C 20%,#AD067A );
  z-index: 2;
}
.lyft-splash{
  width: 10em;
}
.block-center{
  display: block;
  margin: 0 auto;
}
.sign-buttons{
  margin: 2em;
}
h4{
  font-size: 1.3em;
}
.selectors{
  margin-top: 5em;
}
.large-btn{
  width: 100%;
  margin-top: 1em;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  /* Its coordinates define how much the element moves in each direction. */
  transform: translate(-50%, -50%);
}
.margin-top{
  margin-top: 5em;
}
.end{
  color: #FFF;
  font-weight: 600;
  position: absolute;
  top: 1em;
  left: 30%;
}